[user]
    email = emerick@miro.com
    name = Emerick Bosch

# source personal config for personal repos
[includeIf "gitdir:~/code/personal/"]
    path = ~/code/personal/.gitconfig

# source personal config for vim repos
[includeIf "gitdir:~/.vim/plugged/"]
    path = ~/code/personal/.gitconfig

[core]
    pager = delta
    editor = vim
    excludesfile = ~/.gitignore_global
    fsmonitor  = true

[pull]
    rebase = true

[alias]
    lag = log --oneline -n11
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"
    st = status

    blast-packagelock = checkout -- package-lock.json

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[init]
	defaultBranch = main
